body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin:0 0;
}
/* ===================== header ========================= */
header {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 168px 0 168px;
    margin-bottom: 100px;
}

.banner-container {
    display: flex;
    align-items: center;
    gap: 70px;
    height: auto;
    justify-content: space-around;
}

.header-img>img {
    width: 457px;
    height: 560px;
}

.banner-titel {
    color: #272727;
    font-size: 48px;
    font-weight: 800;
}

/* ======================== button ========================== */

.btn-primary {
    border-radius: 8px;
    background-color: #E55473;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    color: #fff;
    border: none;
    margin: 10px 0;
    font-size: 15px;

}


/* ============================= featured ============================ */

.featured {
    max-width: 1008px;
    margin: auto;
    margin-bottom: 120px;
}

.featured-top {
    margin: 50px 200px;
    padding: 10px 25px;
    text-align: center;
}

.featured-top-titel {
    font-weight: 800;
}

.featured-flower-exhibition {
    display: flex;
    gap: 16px;
}

.featured-flower {
    width: 325px;
    height: 380px;
    border-radius: 300px 300px 0px 0px;
    align-content: center;
}

.featured-flower img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.featured-flower h3 {
    text-align: center;
}



#f1 {
    background: rgba(167, 33, 98, 0.15);
}

#f1 img {
    width: 200px;
    height: 300px;
    margin-top: 80px;
}

#f2 {
    background: rgba(5, 151, 160, 0.15);
}

#f2 img {
    height: 260px;
    width: 260px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#f3 {
    background: rgba(71, 125, 17, 0.15);
}

#f3 img {
    height: 325px;
    width: 200px;
    margin-top: 55px;
}


/* ============================= support-section =================== */

.support-section {

    margin: auto;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    max-width: 1008px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.support{
    
    text-align: center;
    padding: 50px 0;

}
.icon{
    width: 61px;
}

/* ============================ Hot Deal ====================== */

.hot-deal{
    margin-top: 90px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 50px 250px;
    gap: 100px;
    
}
.hot-deal-offer{
    width: 55%;
    align-items: center;
    text-align: center;
}

/* =========================== instagram ====================== */

.instagram{
    margin: 50px 300px;

}
.instagram-img-container{
    display: flex;
    margin: auto;
    width: 1012px;
    gap: 16px;
    justify-content: center;
    margin-bottom: 90px;
}
.instagram-img img{
    width: 240px;
    height: 100%;
}

/* =========================  subscribe  ========================== */

.subscribe{
    background-image: url(flower-asset/ban.png);
    background-size: 1012px;
    max-width: 1012px;
    margin: 90px auto;
    padding: 70px 0;
}
.subscribe-offer , .subscribe form{
    text-align: center;
}

.subscribe-input > input{
    width: 490px;
    height: 30px;
    padding: 7px;
    border: none;
    margin-right: 10px;
    border-radius: 7px;
}
.subscribe-offer > h2{
    font-weight: 800;
    margin-bottom: 5px;
}


/* ============================= footer =========================== */

footer{
    text-align: center;
    background-color:  #111010;
    color: white;
    padding: 90px 0;
}
.footer-span{
    color: #E55473;
}
.small{
    color: #FFFFFF66;
}
.footer-div{
    margin: 0 300px;
}